* {
    font-size: 18px;
    line-height: 1.5em;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  
    }

header {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    align-items: center;
    padding: 1%;
    color: #fff;
    padding: 5%;
    background-color: #434C5E;
    border-bottom: 20px solid #B48EAD;  
    }

header img {
    justify-content: flex-start;
    }
      
header h1 {
    font-size: 300%;
    color:#d9dcd6
    }
      
header nav {
    padding-top: 15px;
    margin-right: 20px;
    float: right;
    font-size: 20px;
    }
      
nav ul {
    display: flex;
    flex-wrap: wrap;
    min-width: 300px;
    }
      
nav a {
    color: #d9dcd6;
    font-size: 150%;
    font-weight: bold;
    text-decoration: none;
    }
      
nav a:hover {
    color: #81A1C1;
    }
      
header nav ul li {
    display: inline-block;
    font-size: 100%;
    margin-left: 25px;
    }
        
h2 {
    font-size: 180%;
    font-family: serif;
    color: #3B4252;
    margin: 5%;
    }

.main-body {
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    align-items: stretch;

    
}

.main-content {
    margin-bottom: 5%;
    display: flex;
    align-items: baseline;
    flex: initial;
  
}

.main-content h2 {
    margin-right: 10%;
}
.main-content .content {
    width: 70%;
}

.images {
    width: 200px;
    height: 200px;
}

.image-block {
    margin-top: 5%;
    margin-right: 5%;
}

#bio-logo {
    flex: auto;
    border-radius: 80%;
    flex-wrap: wrap ;
}







footer {
    padding: 5px;
    clear: both;
    text-align: center;
    position: fixed;
    color: #d9dcd6;
    left: 0;
    bottom: 0;
    width: 100%;
    background-color: #434C5E;
    border-top: 20px solid #B48EAD;
  
    }

footer h2 {
    margin: 2%;
    font-size: 20px;
    color: #d9dcd6;
    }

