/* universally set font size and styling */
* {
    font-size: 24px;
    line-height: 1.5em;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  
    }

/* header styling */
header {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    align-items: center;
    padding: 1%;
    color: #fff;
    padding: 5%;
    background-color: #434C5E;
    border-bottom: 20px solid #B48EAD;  
    }

/* my profile avatar */
#headshot {
    border-radius: 80%;
    height: 150px;
    width: 150px;
}

/* Styles the big 'Jonathan Shogren' in the header */
header h1 {
    font-size: 300%;
    color:#d9dcd6
    }
    
/* made the anchor links as a list in a nav */
header nav {
    padding-top: 15px;
    margin-right: 20px;
    float: right;
    font-size: 20px;
    }
      
/* make sure the ul wraps nicely  */
nav ul {
    display: flex;
    flex-wrap: wrap;
    min-width: 300px;
    }
      
/* style the anchor links */
nav a {
    color: #d9dcd6;
    font-size: 150%;
    font-weight: bold;
    text-decoration: none;
    }
      
/* change color on hover */
nav a:hover {
    color: #81A1C1;
    }

/* each list item needed a margin */
header nav ul li {
    display: inline-block;
    font-size: 100%;
    margin-left: 25px;
    }
        
/* the aside h2s */
h2 {
    font-size: 180%;
    font-family: serif;
    color: #3B4252;
    margin: 5%;
    }

/* make sure is resizes nicely */
.aside {
    min-width: 200px;
}

/* wraps the entire page in a flexbox with settings */
.main-body {
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    align-items: stretch;
    position: relative;
}

/* each titled section is a 'main-content' */
.main-content {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    flex: initial;
    border-bottom: 20px solid #B48EAD;    
}

/* the headings for the aside */
.main-content h2 {
    margin-right: 10%;
}

/* the text within the main-content blocks */
.content {
    width: 70%;
}

/* main images */
.images {
    width: 200px;
    height: 200px;
    border-radius: 80%;
    flex-wrap: wrap;
    flex: 0 1 200px;
}

/* specifically needed to style one image bigger */
#img1 {
    width: 250px;
    height: 250px;
}

/* scale images on hover */
.images:hover {
    transform: scale(1.25);
}

/* I wanted div to contain an image and text that stayed together and wrapped */
.image-block {
    flex-wrap: wrap;
}

/* as opposed to 'main-content' this needed to behave differently */
.main-images {
    display: flex;
    justify-content: space-evenly;
    margin-top: 2%;
    height: 100%;
    flex-wrap: wrap;
    border-bottom: 20px solid #B48EAD;  
}

/* make sure everything shrinks and flexes when the screen size is extremely small */
@media screen and (max-width: 350px) {
    header h1 {
        font-size: 100%;
    }

    nav {
        max-width: 150px;
    }

    nav ul {
        flex-direction: column;
        font-size: 100%;
        max-width: 150px;
        min-width: 150px;
    }

    nav ul li {
        max-width: 150px;
    }

    nav ul li a {
        font-size: 100%;
        max-width: 150px;
    }
}

/* footer styling */
footer {
    padding: 5px;
    text-align: center;
    color: #d9dcd6;
    left: 0;
    bottom: 0;
    width: 100%;
    background-color: #434C5E;
    border-top: 20px solid #B48EAD;
  
    }

footer h2 {
    margin: 2%;
    font-size: 20px;
    color: #d9dcd6;
    }
